<div class="container">
  <div class="row">
    <div class="hero-unit">
      <h1 class="text-center"><i class="icon-lock"></i> Login</h1>
    </div>
  </div>
  <div class="row span12 offset4">
  <form method='post' class="form-horizontal">
    <div class="control-group">
      {{{form}}}
    </div>
      <input type='submit'>
    </form>
  </div>    
</div>
</div>