<div id="header" class="item" data-width="350">
  <h1>Differents place</h1>
  <p>Differents times...</p>
</div>
{{#each albums}}
<article class="item info" data-width="282">
  <h2>{{name}}</h2>
  <a href="/albums/{{name}}"><img src="{{pictures.thumb}}" alt=""></a>
</article>
{{/each}}
