<div class="item info" data-width="282">
  <h1>{{title}}</h1>
  <h2><a href="/">Back to albums</a></h2>
</div>
{{#each images }}
<article class="item thumb" data-width="282">
  <a href="{{path}}"><img src="{{thumb}}" alt=""></a>
</article>
{{/each}}