<div class="container">
  <div class="row">
  <div class= "span12">
    <div class = "hero-unit">
  <h1 class="text-center"><i class="icon-quote-left pull-left icon-muted"></i> {{name}}
  <i class="icon-quote-right pull-right icon-muted"></i>
  </h1>
 </div>
 <ul class="thumbnails">
  {{#each images }}
  <li>
    <a class="fancybox" rel="group" href="{{path}}" >
      <img src="{{thumb}}" class="img-rounded" />
    </a>
  </li>
  {{/each}}
  </ul>
  </div>
  </div>
</div>
 