<div class="container">
  <div class="row">
  <div class= "span12">
    <div class = "hero-unit">
 	<h1 class="text-center"><i class="icon-camera-retro pull-left icon-muted icon-2x"></i> GalleryJs</h1>
 </div>
 <blockquote class="pull-right">
  <p class="lead"><i class="icon-quote-left icon-4x pull-left icon-muted"></i>The simpliest way to share and host picture. To take controle of <b>your</b> data.<small>Someone who like to own his data</small><i class="icon-quote-right icon-4x pull-right icon-muted"></i></p>
  </blockquote>

  </div>
  </div>

</div>
 