<div class="container">
	<div class="row">
    <div class = "hero-unit">
 	<h1>Poste</h1>
 </div>
  <form action="/file" method="post" enctype="multipart/form-data">
  	 <fieldset>
    <legend>Post your picture</legend>
    <label>Choose your picture:</label>
  	<input type="file" name="image" />
	<div class="form-actions">
  		<button type="submit" class="btn btn-primary">Save changes</button>
  		<button type="button" class="btn">Cancel</button>
	</div>
  </form>
</div>
 </div>
 