<div class="container">
	<div class="row">
    <div class="hero-unit">
 	<h1 class="text-center"><i class="icon-envelope"></i> Post picture</h1>
 </div>
</div>
 <div class="row span12 offset3">
 <h3>Choose your picture<h3>
  <form action="/admin/file" method="post" class="form-horizontal" enctype="multipart/form-data">
      <div class="control-group">
    <label class="control-label">Choose a folder</label>
    <div class="controls">
      <input type="text" name="folder" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Choose your picture:</label>
    <div class="controls">
  	 <input type="file" name="image" />
    </div>
  </div>
</div>
<div class="row">
	<div class="form-actions">
  		<button type="submit" class="btn btn-primary offset6">Upload</button>
	</div>
  </form>
</div>
 </div>
 